/* Add this to your global CSS file or Tailwind configuration */
.bg-container {
    height: 70vh;
    background-color: #00145b; /* Example background color */
  }
  
  .content-container {
    height: 100%; /* Makes the content container take up the full height of the bg-container */
  }
  @media (max-width: 388px) {
    .space{
      width: 100%;
      padding: 0 ; /* Add padding if needed */
    }
  }

  